*{
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
}
section.welcome{
  width: 100%;
  background-image: url(../../imagenes/Inicio/inicio.jpg);
  background-repeat: no-repeat;
  background-size:100%;
  background-attachment: fixed;
  height: 580px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  justify-content: center;
}
section.welcome div.info{
  color: #F8F8F8;
}
section.welcome div.info h1{
  font-size: 80px;
  padding: 12px;
  border: 8px solid #F8F8F8;
}

/*-----------*/
section.productos{
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-flow: column nowrap;
}
section.productos div.inf {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
section.productos div.inf h2{
  margin: 0px auto;
  font-size: 38px;
  display: block;
  padding: 8px;
  border-bottom: 2px solid black;
}
section.productos div.contenido{
  min-height: 800px;
  width: 80%;
  margin: 6em auto;
  background: rgba(245, 245, 220, 0.524);
  padding: 3em 3em; 
}
/*---------PROD----*/
section.producto div.contenido div.producto{
  border-radius: 8%;
  -webkit-border-radius: 8%;
  -moz-border-radius: 8%;
  -ms-border-radius: 8%;
  -o-border-radius: 8%;
}